<<<<<<< HEAD
#content {

    background-color: #dddddd;
    padding: 35px;

}

hr {

    background-color: #333;

=======
#content {

    background-color: #dddddd;
    padding: 35px;

}

hr {

    background-color: #333;

}   

#inputField {

    margin-left: 10px;

}

.organizationRow {

    display: flex;
    align-items: center;

    padding: 20px;
    margin: 10px;
    background-color: #333;
    color: #fff;

}

.lineSplit {

    background-color: #ddd;

>>>>>>> 3d9404d3250dfbb4f23156c864dd74916da1aa0d
}